.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.trenirovka {
  display: inline-block;
  margin: 4rem;
  background: gray;
  border: solid 1px black;
}

.trenirovka.active {
  background: peachpuff;
}

.trenirovka:hover {
  background: cyan;
}
.start{
  display: inline-block;
  margin: 4rem;
  background: chartreuse;
  border: solid 1px black;
}

.start:hover {
  background: red;
}

.resultsClass.current {
  color: red;
}

.repeat {
  display: inline-block;
  margin: 4rem;
  background: cyan;
  border: solid 1px black;
}

.repeat:hover {
  background: red;
}

.onFinish{
display: inline-block;
margin: 4rem;
background: cyan;
border: solid 1px black;
}

.onFinish:hover {
  background: red;
}

